<div class="container">
  <div class="jumbotron">
    <h1 class="display-2 text-center">Welcome!</h1>
    <h4 class="text-center">
      Choose your Sarajevo parking space from our range of options. For
      stress-free parking, just park with us.
    </h4>
    <hr class="my-4" />
    <p class="lead text-justify font-weight-normal">
      Sarajevo: the capital city, cultural hotspot, business hub and tourist
      magnet. Unfortunately, Sarajevo is also known as one of the expensive
      cities in the world. Prices in car parks in Sarajevo tend to reflect this,
      making the cost of parking in Sarajevo very high.
    </p>
    <p class="lead text-justify font-weight-normal">
      Street parking in Sarajevo can also be a challenge, as parkings are
      usually full between around 8.30am and 6.30pm from Monday to Saturday. But
      don’t panic - help is at hand!
    </p>
    <p class="lead text-justify font-weight-normal">
      <b>71000parking</b> lists parking spaces all across Sarajevo, from private
      garages to allocated street parking and spots in underground car parks.
      Whether you’re looking for somewhere to leave the car during a day’s work
      or you’re hoping for a spot that’s walking distance away from the
      Baščaršija for a family day out, we’ve got you covered!
    </p>
  </div>
</div>
