<footer>
  <div class="container">
    <div class="row text-light text-center py-4 justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6">
        <img
          src="../../../assets/images/logo_2.png"
          alt=""
        />
        <p>
            made by duda with <i class="fa fa-heart" aria-hidden="true"></i>
        </p>
        <ul class="social pt-3">
          <li><a href="_blank"><i class="fa fa-facebook-official fa-2x"></i></a></li>
          <li><a href="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href="_blank"><i class="fa fa-github fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="socket text-light text-center py-3">
  <p>&copy; parking71000.ba</p>
</div>
