<footer>
  <div class="container">
    <div class="row text-light text-center py-4 justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6">
        <img src="../../../assets/images/logo_2.png" alt="" />
        <p>
          71000parking is an parking finder app made for Senior Design Project
          purposes. It features parking locations from all around the city of
          Sarajevo, where its developer resides. Its main purpose is discovering
          and reserving parking locations, but also rating and commenting on
          locations.
        </p>
        <p><strong>
          made by Haris Lapo with
        </strong>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </p>
        <ul class="social pt-3">
          <li>
            <a href="https://www.facebook.com/ibuitdepartment" target="_blank"
              ><i class="fa fa-facebook-official fa-2x"></i
            ></a>
          </li>
          <li>
            <a href="http://www.ibu.edu.ba/" target="_blank"
              ><i class="fa fa-graduation-cap fa-2x"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/burchuniversity"
              target="_blank"
              ><i class="fa fa-instagram fa-2x"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/harislapo/" target="_blank"
              ><i class="fa fa-github fa-2x"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="socket text-light text-center py-3">
  <p class="mt-3">&copy; parking71000.ba</p>
</div>
