<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-6 col-md-6 col-lg-4">
      <form class="form-container" (ngSubmit)="login(f)" #f="ngForm">
        <img class="img-fluid"
          src="../../../assets/images/login_logo.gif"
          alt=""
        />
        <h2 class="text-center">Welcome, please log in!</h2>
        <hr class="my-4" />
        <div class="form-group">
          <input
            [(ngModel)]="user.username"
            name="username"
            type="username"
            class="form-control mb-2"
            id="username"
            placeholder="Enter username.."
            required
            #username="ngModel"
          />
          <span class="help-block" *ngIf="!username.valid && username.touched"
            >Please enter username!</span
          >
        </div>
        <div class="form-group">
          <input
            [(ngModel)]="user.password"
            name="password"
            type="password"
            class="form-control mb-2"
            id="password"
            placeholder="Enter password.."
            required
            #password="ngModel"
          />
          <span class="help-block" *ngIf="!password.valid && password.touched"
            >Please enter password!</span
          >
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">
          Login
        </button>
        <small id="hint" class="form-text text-muted mt-4 mb-1 text-center"
          >Is this your first time here?</small
        >
        <button
          type="button"
          class="btn btn-secondary btn-block"
          (click)="signUp()"
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
