<!-- For google maps  -->
<div class="container mb-4">
  <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>

<!-- Basic info -->
<div class="container mb-4 mt-4">
  <div class="row">
    <br />
    <div class="col text-center mb-4">
      <h2>{{ parking.name }}</h2>
      <h4>{{ parking.address }}</h4>
      <h5>{{ parking.parkingLocated }}</h5>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 col-sm-3 col-md-3 col-lg-3 mb-2">
      <div class="info-display">
        <i class="fa fa-clock-o fa-2x"></i>
        <h5>Open</h5>
        <h6>{{ parking.openingHours }}h-{{ parking.closingHours }}h</h6>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-md-3 col-lg-3 mb-2">
      <div class="info-display">
        <i class="fa fa-money fa-2x"></i>
        <h5>Price/h</h5>
        <h6>{{ parking.price }} KM</h6>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-md-3 col-lg-3 mb-2">
      <div class="info-display">
        <i class="fa fa-shield fa-2x"></i>
        <h5>Security</h5>
        <h6>{{ parking.security }}</h6>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-md-3 col-lg-3 mb-2">
      <div class="info-display">
        <i class="fa fa-star fa-2x"></i>
        <h5>Rating</h5>
        <h6>{{ avgRating | number: "1.0-2" }}</h6>
      </div>
    </div>
  </div>
  <div class="jumbotron mt-3 text-justify">
    <h5>{{ parking.description }}</h5>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <!--
      disable addToReserved button if its a free parking or
      if there exist an reservation already
    -->
    <button
      class="btn btn-success btn-lg mr-2"
      (click)="addToReserved(parking)"
      [disabled]="parking.price == 0 || existingReservation.length == 1"
      title="Unable to reserve"
    >
      <i class="fa fa-check" aria-hidden="true"></i> Reserve
    </button>
    <button (click)="backToParkings()" class="btn btn-primary btn-lg">
      <i class="fa fa-undo" aria-hidden="true"></i>
      Go back
    </button>
  </div>
</div>

<app-rating [parkingId]="parking"></app-rating>

<!-- Comments -->
<app-comments [parkingId]="parking"></app-comments>
