<div class="container text-center mt-5">
  <h4 class="mt-2">How would you rate this location?</h4>

  <ngb-rating
    [max]="5"
    [readonly]="false"
    [(rate)]="rating"
    (rateChange)="addRating()"
    [ngModel]="rating"
  ></ngb-rating>
</div>
<div class="container text-center mt-1 mb-5">
  <button class="btn btn-danger" (click)="onClear()">Clear</button>
</div>

<!--
<div class="container text-center mt-5">
  <h3>This is your rating for this location!</h3>
  <ngb-rating
    [max]="5"
    [readonly]="true"
    [(rate)]="rating"
    [ngModel]="rating"
  ></ngb-rating>
</div>
 -->
